{{!-- spacer --}}

<li>	
	<div class="d-flex flex-grow flex-row justify-content-between">
		{{name}}

		<div class="mb-2 d-flex justify-content-end flex-shrink">
			<button class="change-status check w-auto" data-completed="{{completed}}" data-id="{{id}}">
			<p>{{#if completed}}Add{{else}}&#10003{{/if}} </p>
			</button>
			<button class="delete-task delete w-auto px-2" data-id="{{id}}"><p>Delete</p></button>
		</div>
	</div>
</li>

