{{!-- spacer --}}

<li>	
	<div class="d-flex flex-grow flex-row justify-content-between">
		{{name}}

		<div class="mb-2 d-flex justify-content-end flex-shrink">
			<button class="change-status check" data-completed="{{completed}}" data-id="{{id}}">
			<p>{{#if completed}}+{{else}}&#10003{{/if}} </p>
			</button>
			<button class="delete-task delete" data-id="{{id}}"><p>X</p></button>
		</div>
	</div>
</li>

